*{
  margin: 0;
  padding: 0;
  /* background-color: skyblue; */
 
}
.container{
  /* text-align: center; 
  display: flex;
  grid-template-columns: 4fr 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 650px;  
  width: 1000px;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(165, 221, 243);
  padding-left: 30px; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center
}
.App{
  text-align: center; 
  display: flex;
  grid-template-columns: 4fr 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: 800px;
  width: 1000px;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(165, 221, 243);
  padding-left: 30px;

}

.other{
  float: right;
  margin-top: -400px;
  margin-left: 100%;
  margin-right: -90%;
  width: 230px;
  height: 200px;
  border-style: solid;
}
.dates{
  margin-top: 10px;
  align-items: center;

}
.login{
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  align-items: center;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(165, 221, 243);
  padding-left: 30px;
  height: 650px;
  width: 500px;
  padding-top: -50%
}
